In [1]:
import pandas as pd

In [2]:
pwd#will show th path where our jupiter notebook is running

'/Users/chethanakumari/Desktop/Python/Learning/MyCode'

In [3]:
#This topic is about reading and writing from files (CSVs, htmls, excel, sql)
#Note that these files should exist in the same path where jupyter notebook is running
pd.read_clipboard()

Empty DataFrame
Columns: [Reference, #:, 200901-000765]
Index: []

In [4]:
df=pd.read_clipboard()

In [5]:
df

Empty DataFrame
Columns: [Reference, #:, 200901-000765]
Index: []

In [6]:
df.to_clipboard("My name is Chethana")

In [7]:
df

Empty DataFrame
Columns: [Reference, #:, 200901-000765]
Index: []

In [8]:
df.to_csv("my_output")

In [10]:
pd.read_csv("my_output")

Empty DataFrame
Columns: [Unnamed: 0, Reference, #:, 200901-000765]
Index: []

In [13]:
#In the above output there is Unnamed index column 0. If this is not required we could say, pd.read_csv("my_output",index=False)
df.to_csv('my_output',index=False)

In [14]:
df

Empty DataFrame
Columns: [Reference, #:, 200901-000765]
Index: []