# List

In [1]:
lst=[1,2,3,'chethana']

In [2]:
lst[0]

1

In [3]:
lst[3]

'chethana'

In [5]:
lst[0:]

[1, 2, 3, 'chethana']

# Slicing in Lists and Strings

In [6]:
lst[0:1]

[1]

In [9]:
lst[0]=10

In [10]:
lst

[10, 2, 3, 'chethana']

In [26]:
var="chethana"

var[0]

In [20]:
var[0:1]

'c'

In [27]:
var='kumari'

In [28]:
var

'kumari'

In [29]:
list1=['A','B',lst]

In [30]:
list1

['A', 'B', [10, 2, 3, 'chethana']]

In [33]:
list1[2][3]

'chethana'

# Dictionaries - they don't maintain order

In [35]:
map1={'chethana':39,'sanath':46}

In [36]:
map1['chethana']

39

map1['sanath']

In [37]:
map1['sanath']

46

In [40]:
map1['chiranth']=15

In [41]:
map1

{'chethana': 39, 'sanath': 46, 'chiranth': 15}

map1

map1

# Tuples

In [42]:
tup1=(1,2,3) #This is immutable

In [44]:
tup1[0]

1

In [45]:
tup1[:]

(1, 2, 3)

In [46]:
tup1[0]=5

TypeError: 'tuple' object does not support item assignment

# Set - set of unique elements

In [47]:
s1={1,2,2,1,1}

s1

In [48]:
s1

{1, 2}

# Map() - used for mapping a function to every element in a list and return the output as a list

In [49]:
def square(num):
    return num*num

In [50]:
square(3)

9

In [51]:
var=[1,2,3,4,5]

In [55]:
list(map(square,var))

[1, 4, 9, 16, 25]

In [56]:
"""
Instead of the function square, let us write a lambda expression - in a lambda expression, there is no need to use the
keywords def, return....Essentially, lambda expression is to write a function in single line and we want to write it 
in a single line, as this function would not be reused

So, it would be
square(num):num*num - function name could b removed as well and use the keyword lambda

It would be
lambda num:num*num
"""

'\n'

In [57]:
list(map(lambda num:num*num,var))
#The format above is map(lambda <what is to be passed to fn>:<what is to be returned from fn>,var)

[1, 4, 9, 16, 25]

# Exercises

In [ ]:
#1.Split the below string into list

In [1]:
s= "Hi there Sam!"

In [3]:
lst =s.split()

In [4]:
print(lst)

['Hi', 'there', 'Sam!']

In [ ]:
#2.Use .format()

In [7]:
planet="Earth"
diameter=12742

In [8]:
print("The diameter of the Earth is 12742 kilometers")

The diameter of the Earth is 12742 kilometers

In [10]:
"The diameter of the {} is {} kilometers".format(planet,diameter)

'The diameter of the Earth is 12742 kilometers'

In [11]:
#Use indexing to grab the word hello
lst=[1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [18]:
lst[3][1][2][0]

'hello'

In [ ]:
#Create a function that counts the number of times the word dog appears in a string

In [ ]:
'This dog runs faster than the other dog dude!'

In [10]:
def countdog(s):
    count=0
    for word in s.split():
        if word == 'dog':
            count=count+1
    return count

In [11]:
countdog('This dog runs faster than the other dog dude!')

2

In [ ]:
#Use Lambda and filter() to filter out the words that start with 's'
seq=['soup','dog','salad','rat','great']

In [ ]:
#map() applies map function to every element in the list
#filter() should be to apply filter() to every element in the list to filter out elements based on the filter condition

filter(lambda word: word[0]=='s',seq]